# This is a template, copy the contents of this file to config.yml
database_config:
    host: mysql-5.6
    user: mysql_user
    password: mysql_pass
    database: my_test_database
    # this will be limit of rows pt-archiver fetches at once as well as limit of inserts after which it calls a commit
    # --limit and --txn-size are both passed same value
    transaction_size: 1000

s3_config:
    s3_access_key: test_access_key
    s3_secret_key: test_secret_key
    bucket_name: test_bucket_name

archive:
    - table: my_test_table_1
      where: id<100
      column_to_add_in_s3_filename: id
    - table: my_test_table_2
      where: id<100
      column_to_add_in_s3_filename: id
